.form {
    display: flex;
    align-items: flex-start;
    position: fixed;
    bottom: 8vh;
    width: 100%;
    background-color: white;
    z-index: 100;
}

.textInput {
    border-radius: 0;
    border: 3px solid #d3d3d3;
    width: 80%;
    font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
    color: black;
}

.sendButton {
    text-transform: uppercase;
    text-decoration: none;
    background: #97bc62ff !important;
    padding: 15px;
    border: none;
    border-radius: 10px;
    width: 20%;
}

.uploadButton {
    width: 10%;
}