/* Colours */
.white100{color:rgb(255, 255, 255)}
.gray70{color:#81806f;}
.gray50{color:#C3C1A6;}

.highlight{color: #78F2A6;}
/* Positions */
.sticky {
    position: fixed;
    bottom: 0;
  }
.hidden{
    display: none;
}
.position-absolute{
    position: absolute;
}
  /* justify-content-center
  align-content-center */

/* Sizes */
.icons15{width: 15%;}
.icons20{max-width: 20%;}



/* home */

.container-fluid{
    padding: 0;
}

#welcomeMsg{
    margin-top: 20%;
}
#searchbar{
    margin: 2rem;
    padding: 1rem;
    width: 65%;
    height: 2.5rem;
    background-color: transparent;
    border: #E1D100 solid 1.5px;
    border-radius: 50px;
}  
#filterTab{
    background-color: #e1d2001a;
    padding: 1.5rem;
}
.filter_Btns{
    margin: 0.25rem;
    padding: 0.25rem;
    background-color: transparent;
    border: #E1D100 solid thin;
    border-radius: 5px;
}

#mapScreen{
    filter: brightness(0.4);
    width: 100vw;
    height: 50vh;

}

#indicationMsg{
    z-index: 100;
    top: 65%;
}















/* Toolbar for mobile device */
#toolbar {
    padding: 2rem 0;
    background-color: #E1D100;
    width: 100%;
    height: 10%;
    margin: 0;
}
.toolbar_icons {
    padding: 5%;
}