.textBox {
  height: 68vh;
}

.body {
  color: black;
}

/* Message.js */

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: rgb(183, 199, 145);
}

/* Clear floats */
.container::after {
  content: '';
  clear: both;
  display: table;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

#addChat {
  position: absolute;
  top: 80vh;
  left: 78vw;
}
