body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Colours */
/* #8b8859 ,  #E1D100*/
.white100{color:rgb(255, 255, 255)}
.gray70{color:#81806f;}
.gray50{color:#cace8c;}
.highlight{color: #ec9791;}
/* #d5d827 */
.transparent{color: transparent;}
.transparent-bg{background-color: transparent;}
.active{filter: opacity(0.5);}
/* Positions */
.sticky {position: fixed;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.align-content-center {align-content:center}
.hidden{display: none;}
.position-absolute{position: absolute;}
.margin5 {margin:5%}

/* sizing */
.icons15{width: 15vw; height: 13vw;padding: 1vw;}
.icons20{width: 20vw; height: 18vw;padding: 1vw;}

/* font */
.bold {font-weight: bold;}



/* home */

.container-fluid{
    padding: 0;
    max-width: fit-content;
    max-height: fit-content;
}

.welcomeMsg{
    margin-top: 15%;
    margin-bottom: 5%;
}
#searchbar{
    margin: 1rem;
    padding: 2.5vw;
    width: 65vw;
    height: 10vw;
    background-color: transparent;
    border: #8b8859 solid 1.5px;
    border-radius: 50px;
}  
#searchbar:hover{
    border: #d5d827 solid 1.5px;
    border-radius: 50px;
}
#searchIC{
    margin: 1.2rem 0;
}

#filterTab{
    width: 100vw;
    max-height: fit-content;
    background-image: url(./Icons/marble.jpg); 
    /* background-size: cover; */
    /* background-repeat: no-repeat;
  
    /* background-image: linear-gradient(rgb(235, 195, 144),#939e60bb); */
    padding: 1vh;
}
.filter_Btns{
    color: rgba(80, 75, 3, 0.685);
    margin: 0.5rem;
    padding: 0.25rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.644);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
 
}

#mapScreen{
    filter: brightness(0.4);
    width: 100vw;
    height: 50vh;
}

#indicationMsg{
    z-index: 100;
    top: 65%;
}



/* Map page */
#googleMap {
    width: 100vw;
    height: 60vh;
}
#locationPic {
    width: 100vw;
    height: 35vh
}

#previewContainer{
    position: absolute;
    top: 35vh;
    width: 60vw;
    height: 30vh;
    background-color: #000000c4;
}

.userPic_mini{
    width: 10vw;
}

#locationPic{
    width: 80vw; height: 50vw;
}

/* SignIn */
#toplogobox{
    padding: 20% 5% 5% 5%;
    width: 100vw;
    max-height: fit-content;
    background-color: #C3C1A6;
}

.form-container{
    padding: 10% 10% 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* 
.transparent_btn :hover{
    box-shadow: #C3C1A6;
} */

/* Toolbar for mobile device */
#toolbar {
    padding: 2vh 0;
    background-color: #cedb82;
    width: 100%;
    height: 10vh;
    margin-top: 12vh;
    margin-bottom:0;
    z-index: 100;
    bottom: 0;  
}
.toolbar_icons {
    padding: 0vh 2vh 3vh 2vh ;
    ;
}