body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Colours */
/* #8b8859 ,  #E1D100*/
.white100{color:rgb(255, 255, 255)}
.gray70{color:#81806f;}
.gray50{color:#ccd637;}
.green{background-color: #ccd637 !important;}
.highlight{color: #ec9791;}
/* #d5d827 */
.transparent{color: transparent;}
.transparent-bg{background-color: transparent;}
.active{filter: opacity(0.5);}
.blur{filter: opacity(0.4);}

/* Positions */
/* .center{display:flex; justify-content: center; align-items: center;} */
.sticky {position: fixed;}
.d-flex{display: flex;}
.justify-content-center{justify-content: center;}
.centerH{display:flex; justify-content: center; flex-direction: column;}
.justify-content-between{justify-content: space-between;}
.align-content-center {align-content:center}
.hidden{display: none;}
.position-absolute{position: absolute;}
.margin1 {margin:1rem}
.margin1vw{margin:1vw 0}
.margin5 {margin:5%}
.mb10vh{margin-bottom: 10vh;}

/* sizing */
.icons15{width: 15vw; height: 13vw;padding: 1vw;}
.icons20{width: 20vw; height: 18vw;padding: 1vw;}
.icons30{width: 30vw; padding: 2vw;}
.micons1{font-size: 3rem; padding: 0 1vw;}
.micons15{font-size: 4rem;}
.vw100{max-width: 100vw;}

/* font */
.bold {font-weight: bold;}

/* home */

.container-fluid{
    padding: 0;
    max-width: fit-content;
    max-height: fit-content;
}

.welcomeMsg{
    margin-top: 10%;
    margin-bottom: 5%;
}
#searchbar{
    margin: 1rem;
    padding: 2.5vw;
    width: 65vw;
    height: 10vw;
    position: fixed;
    z-index: 100;
}  


#searchIC{
    margin: 1.2rem 0;
}

#filterTab{
    width: 100vw;
    max-height: fit-content;
    /* background-image: url(./Icons/pearly.jpg);  */
    /* filter: opacity(0.5); */
    /* background-size: cover; */
    background-image: url(./Icons/marble.jpg);
    background-repeat: no-repeat;
    padding: 1vh;
}
.filter_Btns{
    /* color: rgb(0, 0, 0); */
    /* background-color: rgb(255, 255, 255); */
    /* border: 1px solid #fffffe; */

    color: rgba(8, 54, 26, 0.767);
    margin: 0.5rem;
    padding: 0.25rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ccd637;
    border-radius: 5px;
}
#mapScreen{
    filter: brightness(0.4);
    width: 100vw;
    height: 50vh;
}

#indicationMsg{
    z-index: 100;
    top: 65%;
}

/* Blog Page*/



/* Map page */
#googleMap {
    width: 100vw;
    height: 60vh;
}
#locationPic {
    width: 100vw;
    height: 35vh
}

#previewContainer{
    position: absolute;
    top: 35vh;
    width: 60vw;
    height: 30vh;
    background-color: #000000c4;
}

.userPic_mini{
    width: 10vw;
}

#locationPic{
    width: 80vw; height: 50vw;
}

/* chat page */
#typebox{
    background-color: #cbd63725;
    border: none;
    position: fixed;
    top: 84vh
}


/* SignIn */
#toplogobox{
    padding: 20% 5% 5% 5%;
    width: 100vw;
    max-height: fit-content;
    /* background-color: #C3C1A6; */
    background-image: url(./Icons/marble.jpg);
}

.form-container{
    padding: 10% 10% 2% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login_icons{
    width: fit-content;
    border: transparent;
    border-radius: 50px;
    margin: 0.5rem;
    /* background-color: rgba(140, 153, 63, 0.274); */
    background-image: url(./Icons/marble.jpg);
    background-size: cover;
    /* box-shadow: 2px 5px 5px 5px #eedd7c48; */
}

.transparent_btn {
    background: transparent;
    border: transparent;
}

button:focus {
    background-color:transparent
}

#login_btn{
    width: 8rem;
    height: 3rem
}

/* Profile page */
.panels {
    width: 8rem;
    height: fit-content;
}


/* Toolbar for mobile device */
#toolbar {
    padding: 1vh 0;
    background-color: #ffffff;
    width: 100%;
    height: 8vh;
    z-index: 100;
    bottom: 0;  
}
.toolbar_icons {
    /* filter: drop-shadow(16px 16px 20px #ffffff) invert(45%); */
    color: grey;
    padding: 0vh 2vh 3vh 2vh ;
    ;
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
select.browser-default:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  box-shadow: none;
  color: black;

}

/* select.browser-default:focus:not([readonly]){
    background-color: #cbd63754;
    position: relative;
} */
